body{
    background-color: #0e0e0e;
    font-family: sans-serif;
    color: rgb(223, 241, 247) ;
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
}
.navbar .left-section{
    display: flex;
    align-items: center; 
}
.navbar h1{
    font-size: 20px;
    color: #c3d0e5;
    margin: 0;
    cursor: pointer;
}

.navbar img{
    height: 24px;
    width: 24px;
    margin-right: 10px;
    cursor: pointer;
}

.navbar .navlinks{
    display: flex;
    margin-left: 20px;
}

.navbar .navlinks a{
    text-decoration: none;
    color: rgb(155, 163, 180);
    margin-right: 20px;
    font-size: 16px;
}

.navbar .navlinks a:hover{
    color: whitesmoke;
}

.navbar .right-section{
    display: flex;
    align-items: center;
}

.navbar .search-bar{
    padding: 5px;
    margin-right: 20px;
    border-radius: 4px;
    border: 1px solid gray;
    background-color:transparent;
    color:#c3d0e5;
}

.navbar .search-bar input{
    padding-left: 20px;
    position:relative;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}

.navbar .search-bar svg{
    position: absolute;
}

.navbar .search-bar ::placeholder{
    color: #aaaaaa;
}

.navbar .download-btn {
    background-color: #0078d7;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.navbar .download-btn:hover {
    background-color: #005a9e;
}

.hero-text h1{
    text-align: center;
    color: #c3d0e5;
    font-size: 60px;
    line-height: 120%;
    letter-spacing: -0.8px;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 30px;
}

.main-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-btn .first-btn{
    background-color: #0078d7;
    font-weight: bold;
    font-size: medium;
    margin-left: 460px;
    color: whitesmoke;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.main-btn .second-btn{
    background-color: rgb(37, 41, 46);
    font-size: medium;
    color: #c3d0e5;
    padding: 15px;
    margin-right: 460px;
    border:#aaaaaa;
    border-radius: 4px;
    cursor: pointer;
}

.main-img img{
    border: none;
    border-radius: 12px;
    margin: 30px;
    height: 600px;
    width: 1240px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    color: #c3d0e5;
    gap: 40px;
    min-height: 400px;
    margin-left: 30px;
    margin-right: 30px;
    align-items: stretch;
    font-size: 14px;
}

.container .card{
    border: solid;
    border-color: rgba(255, 255, 255, 0.12);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.04);
    padding: 20px;
    max-width: 600px;
    max-height: 350px;
    text-align: left;
    flex: 1;
    
}

.container .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    align-self: flex-end;
}






